.form_date {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}
.date_con {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
  border: 1px solid;
}
.date_con form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 80%;
}
.in {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 20%;
}
.in p {
  white-space: nowrap;
}
label {
  width: auto;
  text-align: right;
}
input[type="date"] {
  width: 150px;
  height: 35px;
  padding: 5px;
}
.btn {
  padding: 10px 30px;
  font-size: larger;
  cursor: pointer;
  border: 1px solid #ccc;
}
.btn:hover {
  background-color: orange;
  color: white;
}
